<dd-header></dd-header>

<!--<dd-tab-group>-->
<!--  <dd-tab label="Read the article">-->
<!--    <h1>tab 1</h1>-->
<!--  </dd-tab>-->
<!--  <dd-tab label="Watch the video">-->
<!--    <h1>tab 2</h1>-->
<!--  </dd-tab>-->
<!--  <dd-tab label="View the resources">-->
<!--    <h1>tab 3</h1>-->
<!--  </dd-tab>-->
<!--</dd-tab-group>-->

<tabs-with-portal>
  <tab-with-portal label="tab one">
    component portal 1
  </tab-with-portal>

  <tab-with-portal label="tab two">
    component portal 2
  </tab-with-portal>

  <tab-with-portal label="tab three">
    component portal 3
  </tab-with-portal>
</tabs-with-portal>


<router-outlet></router-outlet>
